$clr-segments: linear-gradient(145deg, rgba(226,97,152,1) 0%, rgba(224,126,105,1) 50%, rgba(226,97,108,1) 100%);;
$clr-text:#FDFFFC;
$clr-text-oppsite: #020100;
$clr-tlt-oppsite:#d8ad02;

$clr-bkg-first:linear-gradient(180deg, rgba(166,111,0,1) 0%, rgba(244,163,0,1) 100%);
$clr-bkg-second:linear-gradient(63deg, rgba(184,81,81,1) 0%, rgba(184,81,134,1) 100%);
$clr-bkg-third:linear-gradient(231deg, rgba(140,88,151,1) 0%, rgba(88,151,138,1) 100%);
$clr-bkg-quarter: linear-gradient(319deg, rgba(113,71,140,1) 0%, rgba(244,0,107,1) 100%);
$clr-bkg-fifth:linear-gradient(61deg, rgba(204,37,124,1) 0%, rgba(37,204,183,1) 100%);
$clr-bkg-sixth:linear-gradient(145deg, rgba(127,104,191,1) 0%, rgba(78,154,162,1) 50%, rgba(102,145,190,1) 100%);

$clr-hovers:#F7B900;

$clr-iconic:#ffc928;
$clr-iconic-opposite: #4635b9;

$clr-bkg-tops:linear-gradient(7deg, rgba(255,20,179,1) 0%, rgba(189,76,179,1) 100%);

$clr-brdrs:#e4e4e4 ;

$clr-shad:rgba(0, 0, 0, 0.809);
$clr-shad-central:rgba(128, 128, 128, 0.748);

$clr-mirror:linear-gradient(to left, rgb(182, 152, 18), #ffc400);
$clr-reflex: linear-gradient(to left, rgb(95, 18, 182), #ff0381);












